body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.color-highlight{
    color: rgb(0, 255, 76);
}
p{
    color: rgb(172, 159, 142);
}
h1{
    font-size: 40px;
    text-align: center;
}
.center{
    text-align: center;
     
}
.text{
    text-align: center;
    font-size: 20px;
    color:rgb(82, 74, 62);
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: -webkit-linear-gradient(rgb(21, 245, 21), rgb(28, 167, 202) );
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
.header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;

}
section{
    height: 500px;
}
.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
}
.single-expreience{
    margin: 7%;
}
.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}
.latest-work .work1{
    position: absolute;
	top: 1150px;
	bottom: 0px;
	left: 100px;
	right: 0px;
}
.work1 img{
    width: 400px;
    height: 250px;
}
.latest-work .work2{
    position: absolute;
	top: 1150px;
	bottom: 0px;
	left: 550px;
	right: 0px;
}
.latest-work .work3{
    position: absolute;
	top: 1150px;
	bottom: 0px;
	left: 1000px;
	right: 0px;
}
.work2 img{
    width: 400px;
    height: 250px;
}
.work3 img{
    width: 400px;
    height: 250px;
}
.footer{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
}
.gmail-box{
    background-image: -webkit-linear-gradient(#0029cc, #04a7d4);
    width: 40%;
    margin: 0% 30%;
    border-radius: 7px;
    text-align: center;
    line-height: 50px;
}
.color{
    color: aliceblue;
}
.text-ind{
    text-align: center;
    font-size: 15px;
}

     